[submodule "portefeuille-mobile-mdl"]
	path = portefeuille-mobile-mdl
	url = https://github.com/CQEN-QDCE/portefeuille-mobile-mdl.git
[submodule "aries-acapy-plugins"]
	path = aries-acapy-plugins
	url = https://github.com/CQEN-QDCE/aries-acapy-plugins.git
