REACT_APP_MDL_ISSUER_API_BASE_URL=<MDL-issuer-agent-API>
REACT_APP_OID4VCI_SUPPORTED_CREDENTIAL_ID=<identifiant-pour-appel-au-API>

REACT_APP_ANONCREDS_ISSUER_API_BASE_URL=<AnonCreds-issuer-agent-API>
REACT_APP_SCHEMA_NAME_PERMIS_CONDUIRE="PermisConduireNumerique"
REACT_APP_SCHEMA_VERSION_PERMIS_CONDUIRE='1.0'
REACT_APP_SCHEMA_ISSUER_DID_PERMIS_CONDUIRE='Av213bcChrywJKw1WJbLgo'
REACT_APP_CRED_DEF_PERMIS_CONDUIRE="Av213bcChrywJKw1WJbLgo:2:PermisConduireNumerique:1.0"