REACT_APP_ISSUER_API_BASE_URL=https://issuer-mdl-admin.apps.domain.com
REACT_APP_OID4VCI_SUPPORTED_CREDENTIAL_ID=0xx0000x-00xx-0x00-00x0-00xx00000x00

REACT_APP_ANONCREDS_ISSUER_API_BASE_URL=https://issuer-anoncreds-admin.apps.domain.ca
REACT_APP_SCHEMA_NAME_PERMIS_CONDUIRE="PermisConduireNumerique"
REACT_APP_SCHEMA_VERSION_PERMIS_CONDUIRE='1.0'
REACT_APP_SCHEMA_ISSUER_DID_PERMIS_CONDUIRE='Av213bcChrywJKw1WJbLgo'
REACT_APP_CRED_DEF_PERMIS_CONDUIRE="Av213bcChrywJKw1WJbLgo:1:PermisConduireNumerique:1.0"